<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<div th:if="${errorMessage != ''}" class="alert">
    <span class="alert alert-danger" th:if="${errorMessage == 'errorOwner'}" th:text="#{accessRejected.owner}"></span>
    <span class="alert alert-danger" th:if="${errorMessage == 'errorPet'}" th:text="#{accessRejected.pet}"></span>
    <span class="alert alert-danger" th:if="${errorMessage == 'errorVisit'}" th:text="#{accessRejected.visit}"></span>
</div>

<h2>Owner List</h2>

<form th:object="${owner}" th:action="@{/owners}" method="get"
      class="form-horizontal" id="search-owner-form">
    <div class="form-group">
        <div class="control-group" id="lastNameGroup">
            <label class="col-sm-2 control-label">Filter by name </label>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{lastName}" size="30"
                       maxlength="80" /> <span class="help-inline"><div
                    th:if="${#fields.hasAnyErrors()}">
              <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
            </div></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Find Owners</button>
        </div>
    </div>
</form>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 200px;">Email</th>
        <th style="width: 200px;">Address</th>
        <th>City</th>
        <th style="width: 120px">Telephone</th>
        <th>Pets</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td>
            <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
        </td>
        <td th:text="${owner.email}"/>
        <td th:text="${owner.address}"/>
        <td th:text="${owner.city}"/>
        <td th:text="${owner.telephone}"/>
        <td><span th:each="pet : ${owner.pets}" th:text="${pet.name} "/></td>
    </tr>
    </tbody>
</table>

<br />
<a sec:authorize="hasAuthority('owner.create')" class="btn btn-default" th:href="@{/owners/new}">Add Owner</a>

</body>
</html>