<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>

<h2 sec:authorize="isAuthenticated()" th:text="#{welcome1} + ' ' + ${#authentication?.principal?.username} + '. ' + #{welcome2}">Welcome</h2>
<h2 style="color:darkgreen" th:text="${message2fa}"></h2>
<h2 th:if="${param.success}" class="alert alert-success">You have been logged out</h2>
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
    </div>
</div>
</body>
</html>